*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}

.header-topo{
    background-image: url("image/decolando_da_mao_horizontal.jpg");
    background-position: center;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover
    
}
.header-topo h1{
    color: white;
    text-align: center;
    padding-top: 100px;
    font-size: 40px;
    text-shadow: 2px 2px 4px #000000;
}
.header-topo p{
    color: white;
    text-align: center;
    font-size: 20px;
    text-shadow: 1px 1px 2px #000000;
    margin-top: 10px;
}
nav{
    background-color: #333;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
nav ul li{
    margin: 10px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}   

.inicio-cards{
    display: flex;
    justify-content: space-around;
    margin: 20px;
}