* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    background-color: rgb(235, 220, 202);
    overflow: hidden;
}

.navbar .nav-link {
    color: rgb(148, 82, 31);
    font-weight: 500;
}

.navbar .nav-link:hover {
    color: rgb(65, 168, 17);
}

.col-md-6 {
    display: flex;
    justify-content: center;
    align-items: center
}

.col-md-6,
.texto-produtos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}